@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lobster&family=Manrope&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
/* heading style */
.section-title{
    font-weight: 700;
    font-size: 33px;
    color: #121212;
    padding-bottom: 20px;
}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    padding-bottom: 50px;
}
header{
    background: url(../images/donation0.jpg);
    width: 100%;
    height: 669px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    height: 669px;
}
.banner-info{
    width: 826px;
    margin: 0 auto;
    padding: 175px 0;
}
.banner-title .title{
    font-weight: 700;
    font-size: 65px;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}
.banner-description .desc{
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}
.button{
    display: flex;
    justify-content: center;
}
.button .btn{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 16px 21px;
    background-color: #FF5959;
    border-radius: 5px;
}
/* 2nd section start */
.section-info{
    padding: 130px 374px;
}
.section-title h2,
.section-description p{
    text-align: center;
}
.section-description p{
    margin: 0 15px;
    line-height: 28px;
}
.amounts{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 22px;
    padding-bottom: 60px;
}
.amount{
    background-color: #FAFAFA;
    padding: 44px 24px;
    border-radius: 5px;
    transition: 0.5s;
}
.amount:hover{
    background-color: #FFEEEE;
}
.amount:hover .amount-box-text{
    color: #FF5959;
   
}
.amount .amount-box-text{
    color: #707070;
    transition: 0.5s;
}
.small-heading{
    font-weight: 400;
    font-size: 18px;
    color: #b3b3b3;
    text-align: center;
    border-bottom: 1px solid #Dadada;
    padding-bottom: 10px;
}

.plan-boxes{
    width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}
.plan .section-description{
    padding: 0 374px;
}
.plans{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:24px ;
}
.plan{
    padding: 63.5px 22px 54px 23px;
    border-radius: 5px;
}
.plan .plan-icon img{
    width: 58px;
    height: 49px;
}
.plan .plan-box-title{
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    padding-top: 30px;
}
.plan .plan-box-desc{
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    padding-top: 16px;
}
.plan-one{
    background: rgba(79, 157, 166, 0.1);
}
.plan-two{
    background: rgba(255, 89, 89, 0.1);
}
.plan-three{
    background: #FFF4D6;
}
.fourth-section{
    margin-top: 76px;
}
.fourth-section .img-desc-box{
    width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 83px;
    grid-row-gap: 100px;
}
.fourth-section .img img{
    width: 456px;
    height: 477px;
}
.fourth-section .information{
    display: grid;
    align-content: center;

}
/* .fourth-section .img:nth-child(3){
    grid-row-start: 4;
}  */
.fourth-section .information .section-title h2,
.fourth-section .information .section-description p{
    text-align: left;
}

.fifth-setion{
    margin-top:130px ;
    margin-bottom: 130px;
}
.fifth-setion p{
    padding-left: 375px;
    padding-right: 375px;
}
.subscribtion-box{
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    margin: 0 auto;
}
.subscribe{
    display: flex;
    justify-content: center;
    padding-top: 97px;
}
.subscribe input{
    border: none;
    padding: 14px 75px 14px 17px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    
}
input:focus{
    outline: none;
}
.subscribe .btn{
    background-color: #FF5959;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 42px;
    border-radius: 0px 5px 5px 0px;
}
footer{
    background: #0B0D17;
}
footer .details{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 43px 0;
}
footer .details h3{
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #FF5959;
    font-size: 36px;
}
footer .details p{
    color: #D9DBE1;
    font-weight: 400;
    font-size: 14px;
    margin-top: 24px;
    font-family: 'Manrope', sans-serif;
}
/*  */
@media only screen and (max-width: 576px) {
    .banner-info{
        width: 100%;
        padding: 0;
        padding-top: 150px;
    }

    .banner-title .title,
    .banner-description .desc,
    .fourth-section{
        padding: 10px 15px;
    }
    .banner-title .title{
        font-size: 45px;
    }
    .button{
        padding-top: 10px;
    }
    /* 2nd */
    .section-info{
        padding: 50px 0;
    }
    .amounts{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .amount{
        width: 75px;
        height: 40px;
        margin-bottom: 10px;
    }
    .section-title h2{
        font-size: 45px;
    }
    .section-title h2,
    .section-description p{
        padding: 0 10px;
    }
    .plan .section-description{
        padding: 0;
    }
    .plans{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 16px;
    }
    .plan-boxes{
        width: 100%;
    }
    .fourth-section{
        margin-top: 0;
        margin-bottom: 25px;
    }
    .fourth-section .img-desc-box{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        row-gap: 25px;
    }
    
    .fourth-section .img img{
        width: 100%;
        height: 100%;
        
    }
    .fourth-section .button{
        margin-bottom: 16px;
    }
    .fourth-section .img:nth-child(2){
        grid-row-start: 1;
    }
    .fifth-setion{
        padding: 0 15px;
    }
    .subscribtion-box{
        width: 100%;
        height: 100px;
    }
    .subscribe{
        padding-top: 29px;
    }
    .subscribe input{
        padding: 0;
    }
    .subscribe .btn{
        padding: 14px 15px;
    }
    footer .details{
        width: 100%;
    }

}